<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Funky Grid Prototype</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="root">
    <div class="wrapper">
        <toggles :gridtoggle="gridToggle"
                 :categories="categories"></toggles>
        <transition name="fade" @after-leave="gridFadeEnd">
            <template v-if="showGridView">
                <grid-container :boxes="filteredBoxes"></grid-container>
            </template>
        </transition>
        <transition name="fade" @after-leave="listFadeEnd">
            <template v-if="showListView">
                <list-container :boxes="filteredBoxes"></list-container>
            </template>
        </transition>
    </div>
    <transition name="fade">
        <div class="overlay" v-if="showOverlay"></div>
    </transition>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="app/data/dummyBoxes.js"></script>
<script src="app/listeners/vue-event-listener.js"></script>
<script src="app/components/toggle.js"></script>
<script src="app/components/toggles.js"></script>
<script src="app/components/grid-container.js"></script>
<script src="app/components/list-container.js"></script>
<script src="app/components/image-box.js"></script>
<script src="app/components/image-detail-box.js"></script>
<script src="app/main.js"></script>
</body>
</html>